[Desktop Entry]
Name=Praya
Comment=Wellness platform daemon
GenericName=Wellness Platform
Exec=praya-service
Icon=praya
Terminal=false
Type=Application
Categories=Utility;
Keywords=posture;health;wellness;monitor;praya;
StartupNotify=false
X-GNOME-Autostart-enabled=false
