[Desktop Entry]
Name=Praya Posture
Comment=Posture monitoring service
GenericName=Posture Monitor
Exec=praya-posture
Icon=praya-posture
Terminal=false
Type=Application
Categories=Utility;
Keywords=posture;health;webcam;monitor;praya;
StartupNotify=false
X-GNOME-Autostart-enabled=false
